header,footer,nav,article,section,figure,figcaption,h1,h2,h3,ul, li,body,div,p,img {
margin: 0;
padding: 0;
font-size: 100%; vertical-align: baseline; border: 0;
}

header, footer, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
{
   margin: 0;
   padding: 0;
   font-size: 100%;
   vertical-align: baseline;
   border: 0;
}

header, footer {
  color: white;
  background-color: #213643;
}
nav {
  background-color: #728B96;
}

h1, h2, h3 {
 font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}
body {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}

#reviews {
   border-bottom: solid 3pt #213643;
   color: #ed8030;
}
.first {
   color: #728B96;
   font-style: italic;
}

a:link {
   font-weight: bold;
   color: #47B3D7;
}
a:visited {
   color: #BB78FF;
}
a:hover {
   background-color: #FFFFCC;
}

nav ul li {
   list-style: none;
   display: inline;
   margin: 1em;
}
nav {
   padding: 0.25em;
}
nav a {
   padding: 0.25em;
}

figure {
   margin: 2em;
   background-color: #EEEEEE;
   padding: 1.5em;
   border: solid 1pt #999999;
}
h3+p+p { 
   margin: 2em;
}


figure { 
   margin: 2em;
   background-color: #EEEEEE;
   padding: 1.5em;
   border: solid 1px #999999;
}
   h3+p+p { margin: 2em;
}